*{
	margin: 0px;
	padding: 0px;
	font-family: tahoma;
}

.main{

	height: 650px;
	width: 100%;
	background-image: url("images/people.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	
}


.mid{

	width: 90%;
	height: 100%;
	margin: auto;
	
	
}

.blur{

	height: 100%;
	width: 100%;
	background-color:  rgba(239,236,235,0.95);

}

.mid_top{

	height: 80px;
	overflow: hidden;
}

.mid_top h1{

	margin-top: 20px;
	color: gray;
	margin-left: 50px;

}

.mid_bottom{

	height: 570px;
	width: 100%;
	
	overflow: hidden;
}

.paralellogram{

	
	height: 50%;
	width: 100%;
}

.one{

	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: 2px solid white;
	background-color:#E35730;
	color: white;

	position: absolute;
	top: 28px;
	left: 122px;
	z-index: 10;

}

.one p{

	font-size: 20px;
	margin-left: 13px;
	margin-top: 10px;
}



.section_one{

	height: 100%;
	width: 25%;
	
	float: left;
	

}

.paralellogram{
   position: relative;
}

.pic img{

	height: 150px;
	width: 150px;
	border-radius: 50%;

	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;

	z-index: 10;
	border: 1px solid #E2582A;
	z-index: 5;

}

.half_circle{

	width: 165px;
    height: 100px;
    border-radius: 0px 0px 100px 100px;
    border: 2px solid #E2582A;
    
    position: absolute;
    top: 65px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;

}

.text h3{

	text-align: center;
	
	color: #E1562D;
}

.text h4{

	text-align: center;
	
	margin-top: 15px;
	color: #5F5F5F;
}

.text p{

	text-align: center;
	margin-top: 10px;
	color: gray;
	padding: 0px 30px;
}

.section_two{
	float: left;
	width: 25%;
	height: 100%;
}

.section_two img{
	border: 1px solid #ABC142;
}

.section_two .one{

	background-color: #ABC142;
}



.section_two h3{
	color: #ABC142;
}

.section_three{
	float: left;
	width: 25%;
	height: 100%;
}


.section_three img{
	border: 1px solid #3CC6A5;
}

.section_three .one{

	background-color: #3CC6A5;
}



.section_three h3{
	color: #3CC6A5;
}

.section_four{
	float: left;
	width: 25%;
	height: 100%;
}

.section_four img{
	border: 1px solid #0799BB;
}

.section_four .one{

	background-color: #0799BB;
}



.section_four h3{
	color: #0799BB;
}
