.square{

	height: 100px;
	width: 100px;
	background-color: blue;
}

.oval{

	height: 50px;
	width: 100px;
	background-color: red;
	border-radius: 50%;
	margin: auto;
}

.trapezoid{

	width: 100px;
	height: 0px;
	border-bottom: 50px solid blue;
	border-left: 50px solid transparent;
	border-right:50px solid transparent;
	border-top: 50px solid transparent;
	background-color: white;

	transform: rotate(0deg);

}

.parallelogram{

	height: 100px;
	width: 150px;
	background-color: black;
	margin: auto;
	transform: skew(-20deg);
}

.triangle{

	height: 0px;
	width: 0px;
	border-bottom: 50px solid blue;
	border-left: 50px solid transparent;
	border-right:50px solid transparent;
	border-top: 50px solid transparent; 

	transform: rotate(180deg);
}